body {
    background-color: black;
  }
  
  input[type="text"] {
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 10px;
    font-size: 2.6vw;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-left: auto
  }

  #city {
    color: red;
  }

  #question {
    color: darkorange;
    font-size: 75px;  
  }
 
  button {
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 2.6vw;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  
  #output {
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 10px;
    font-size: 5.2vw;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }


  